<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710494466661-b3bsf92r2rp5dh5aef9v3tk3l5sgbu8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710494466661-b3bsf92r2rp5dh5aef9v3tk3l5sgbu8t</string>
	<key>API_KEY</key>
	<string>AIzaSyACZYiBCOLwdszTQli_evK_SVO2v-yC96A</string>
	<key>GCM_SENDER_ID</key>
	<string>710494466661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.my</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-5de52</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-5de52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710494466661:ios:6c6f04d123664bf01b8c8c</string>
</dict>
</plist>